<navbar class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">          
            <ul class="nav nav-pills" id="c_nav">
              <li class="active"><%= link_to "World", "#", remote: true %></li>
              <li><%= link_to "North America", "#", remote: true %></li>
              <li class="balls"><%= link_to "South America", "#", remote: true %></li>
              <li class="balls"><%= link_to "Europe", "#", remote: true %></li>
              <li><%= link_to "Africa", "#", remote: true %></li>              
              <li><%= link_to "Asia", "#", remote: true %></li>              
              <li><%= link_to "Australia", "#", remote: true %></li>
            </ul>          
        </div>
    </div>
</navbar>
