<navbar class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-pills" id="c_nav">
        <%= nav_link "World", "home" %>
        <%= nav_link "North America", "north_america" %>
        <%= nav_link "South America", "south_america" %>
        <%= nav_link "Europe", "europe" %>
        <%= nav_link "Africa", "africa" %>
        <%= nav_link "Asia", "asia" %>
        <%= nav_link "Australia", "australia" %>
      </ul>
    </div>
  </div>
</navbar>
