<!DOCTYPE html>
<html>
<head>
    <title><%= (yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/header' %>    
    <div class="container">
      <%= render 'layouts/continents_navbar' %>
      <%= yield %>
      <%#= image_tag("Misc_Map_400645.jpg", :alt => "background_map") %> 
      <%#= render 'layouts/sidebar' %>
      <%= render 'pages/africa' %>
      <%= render 'pages/asia' %>
      <%= render 'pages/australia' %>
      <%= render 'pages/europe' %>
      <%= render 'pages/north_america' %>
      <%= render 'pages/south_america' %>      
    </div>
  </body>
</html>